<h3>Edit your comment:</h3>

<%= form_tag comment_path, method: 'patch' do %>
    <% if @comment.errors.any? %>
        <div id="error_message">
            <h4>The following errors have occurred:</h4>
            <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @comment.errors[:content].empty? %>
        <div class="field">
    <% else %>
        <div class="field_with_errors">
    <% end %>
        <%=form_for @comment do |f| %>
            <%= f.text_area :content %><br>
            <%= f.collection_select :game_idea_id, GameIdea.all, :id, :title %><br><br>
            <%= f.hidden_field :user_id %>
            <%= f.submit "edit comment" %>
        <% end %> 
        </div>       
<% end %>
